// example: settings.json
// delete comments, edit to your needs, rename file to "settings.json"
{
    // setup Telegram Bot
    "telegram": {
    "token": "1234234:ABCfakyfakeskshfkSHSKDF-ABCDEF",
    "chat_id": "1231123123"
    },
    // nodes to avoid in rebalances (in-path)
    "avoid": [
        "pubkey1",
        "pubkey2",
        "pubkeyx"
    ],
    "rules": [
        {
            //example of generic aliases: "bfx-lnd" applies to both "bfx-lnd0" and "bfx-lnd1"
            "aliasMatch": "bfx-lnd", 
            "no_local_rebalance": true,
            "no_local_rebalance_NOTE": "outflowing channel, don't rebalance if local-heavy"
        },
        {
            // set min_ppm / max_ppm
            "aliasMatch": "CoinGate",
            "min_ppm": 0,
            "max_ppm": 50,
            "no_remote_rebalance": true,
            "no_remote_rebalance_NOTE": "inflowing channel, don't rebalance if remote-heavy"
        },
        {
            // do not rebalance this peer
            "aliasMatch": "Lightning.Watch",
            "no_local_rebalance": true,
            "no_remote_rebalance": true,
            "no_local_rebalance_NOTE": "don't rebalance at all"
        },
        {
            // set max_htlc_sats per peer
            "aliasMatch": "tippin.me",
            "max_htlc_sats": 2150
        }
    ]
}
